/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.playButton {
  -fx-background-image: url("../res/play_32.png");
  -fx-background-color: yellowgreen;
  -fx-background-radius: 32;
  -fx-background-repeat: no-repeat;
  -fx-background-position: 50%;
}

.playButton.small {
  -fx-background-radius: 16;
  -fx-background-image: url("../res/play_16.png");
}

.playButton.paused {
  -fx-background-image: url("../res/pause_32.png");
  -fx-background-color: greenyellow;
  -fx-background-radius: 32;
  -fx-background-repeat: no-repeat;
  -fx-background-position: 50%;
}